.command {
    position: relative;
    width: 100%;
    text-align: right;
    margin-bottom: 2em;
}

.commandButton {
    all: unset;
    padding: 0.3em;
    border-radius: 3px;
    transition: background 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #323232;
    }

    svg {
        display: grid;
        place-content: center;
    }
}

.container {
    z-index: 9999;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    inset: 0;
    display: flex;
    justify-content: center;

    .modal {
        position: fixed;
        margin-top: 10em;
        background-color: #272727;
        max-width: 700px;
        width: 100%;
        border-radius: 3px;
        min-height: 460px;
        
        .searchbar {
            position: relative;

            input {
                width: 100%;
                border: none;
                background-color: transparent;
                padding: 1.3em 1.3em 1.3em 2.9em;
                color: white;
                font-size: 16px;
                border-bottom: 1px solid #505050;

                
                &:focus {
                    outline: none;
                }
            }

            label {
                position: absolute;
                height: 100%;
                display: flex;
                align-items: center;
                margin-left: 0.7em;
                color: #707070;
                user-select: none;
                pointer-events: none;

                p {
                    transition: opacity 0.1s ease-in-out;
                }
            }

            label > * + * {
                margin-left: 0.3em;
                margin-top: 0.1em;
                font-weight: 500;
            }
        }

        
    }
}

.results {
    position: relative;
    padding: 1em 1.3em;

    .mainLinks {
        position: relative;
        display: grid;
    }
    .ideasLink {
        display: flex;
        align-items: center;
        padding: 0.8em 0.5em;
        border-radius: 3px;
        position: relative;
        z-index: 2;
    }

    .ideasLink > * + * {
        margin-left: 0.8em;
        padding-top: 0.1em;
    }
}

.linkcontainer {
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.activeBackground {
    position: absolute;
    left: 0;
    background-color: #333333;
    width: 100%;
    height: 46px;
    z-index: 0;
    border-radius: 3px;
}

.linkTitle {
    user-select: none;
}

.titleLinks {
    font-weight: 500;
    font-size: 15px;
    color: #7A7A7A;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    z-index: 2;
    
}

#inactive {
    color: #5e5e5e;
}

@media only screen and (max-width: 768px) {
    .command {
        display: none;
    }
}