.gradientCard {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  .gradientImage {
    position: absolute;
    border-radius: 100%;
    transform: translateY(10px) scale(1.25);
    z-index: 0;
    filter: blur(10px);
    opacity: 0.2;
    width: 40%;
    aspect-ratio: 1;
    user-select: none;
  }

  .gradientImageBehind {
    border-radius: 100%;
    width: 40%;
    aspect-ratio: 1;
    user-select: none;
  }
}

.hStack {
  display: flex;

  @media (max-width: 570px) {
    opacity: 0;
    pointer-events: none;
  }
}

.dockItem {
  background-color: #2d2d2d;
  cursor: pointer;
  border-radius: 10px;
  filter: saturate(0.9) brightness(0.9);
  border: 1px solid #464646;
  transition: filter 0.3s;
  overflow: hidden;

  &:hover {
    filter: saturate(1) brightness(1.12);
  }
}
