@font-face {
  font-family: 'Newsreader';
  src: url('/fonts/Newsreader-Italic.woff2') format('woff2'),
      url('/fonts/Newsreader-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Newsreader';
  src: url('/fonts/Newsreader-LightItalic.woff2') format('woff2'),
      url('/fonts/Newsreader-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/fonts/CircularStd-Book.woff2') format('woff2'),
      url('/fonts/CircularStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/fonts/CircularStd-Light.woff2') format('woff2'),
      url('/fonts/CircularStd-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/fonts/CircularStd-Medium.woff2') format('woff2'),
      url('/fonts/CircularStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



html,
body {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

:root {
  --page-background: #272727;
}

body {
  background-color: var(--page-background);
  color: white;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Circular Std';
}

.shadow-container {
  filter: drop-shadow(-143px -28px 58px rgba(0, 0, 0, 0.01)) drop-shadow(-81px -16px 49px rgba(0, 0, 0, 0.05)) drop-shadow(-36px -7px 36px rgba(0, 0, 0, 0.09)) drop-shadow(-9px -2px 20px rgba(0, 0, 0, 0.1)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
}

.content-container {
  padding: 1em;
  font-size: 17px;
  font-weight: normal;
  line-height: 23px;

}

.code {
  pre {
      background-color: transparent !important;
      .linenumber {
        padding: 0.2em !important;

        text-align: left !important;
        padding-right: 2em !important;
        min-width: 25px !important;
        color: #A8A8A8;
      }
  }
  pre:hover::-webkit-scrollbar-thumb {
    background-color: rgb(92, 92, 92);
  }
  pre::-webkit-scrollbar {
      height: 3px ;
      background: transparent;        
  }
  pre::-webkit-scrollbar-thumb {
      transition: background-color 0.2s ease-in-out;
      border-radius: 10px;

  }
}
